#root {
  display: flex;
  min-height: 100vh;
}

.content {
  padding: 20px;
  flex: 1;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.content.collapsed {
  margin-left: 60px;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    padding: 10px;
  }
}
